#root {
  max-width: 1280px;
  box-sizing: border-box;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.top-nav {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.upload-button {
  cursor: pointer;
}
