@import "tailwincss";
@import "global_style_variable.css";

:root {
  font-family: sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
