.search__container {
  border: 1px solid var(--border-color);
  border-radius: 50px;
  height: 40px;
  display: flex;
  align-items: center;
}
.search__container:focus-within {
  border: 1px solid rgb(82, 82, 82);
}

.search_icon__btn {
  height: 100%;
  width: 60px;
  border: none;
  border-radius: 50px 0 0 50px;
  background-color: var(--border-color);
  cursor: pointer;
}
.search_icon {
  margin: auto;
  color: rgba(255, 255, 255, 0.5);
}

.search_input__box input {
  font: inherit;
  border: none;
  background-color: transparent;
  outline: none;
  width: clamp(195px, 40vw, 500px);
  color: var(--light-text-color);
}
.search_input__box {
  padding: 0 0.5rem;
}
.search__input {
  font-family: inherit;
}

.search_icon__btn__secondary {
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}
.search_icon__btn__secondary .search_icon {
  color: rgba(255, 255, 255, 0.8);
}

.search_content_suggestion_container {
  z-index: 100;
  position: absolute;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  height: 500px;
  width: clamp(270px, calc(40vw + 60px + 16px), 576px);
  max-height: 80vh;
  top: calc(var(--navbar-height));
  background-color: var(--primary-color);
}

@media (width < 480px) {
  .back_btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    position: absolute;
  }

  .search__container {
    margin-left: 50px;
  }

  .search_input__box {
    width: 100%;
  }

  .search_input__box input {
    width: 100%;
  }

  .search_content_suggestion_container {
    left: 66px;
    width: calc(100% - 66px - 16px);
  }
}
